@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1.61px;
  }

  .text-stroke-5 {
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 5px;
  }

  .text-balance {
    text-wrap: balance;
  }

  .font-roboto {
    font-family: var(--font-roboto);
  }

  .font-inter {
    font-family: var(--font-inter);
  }

  .bg-mobile-gradient {
    background: linear-gradient(
      180deg,
      #90e0ef 0%,
      #0ca9c9 14.42%,
      #0096c7 43.75%,
      #023e8a 75.48%
    );
  }

  .bg-desktop-gradient {
    background: linear-gradient(
      180deg,
      #90e0ef 0%,
      #0ca9c9 21.67%,
      #0096c7 61.5%,
      #023e8a 91.5%
    );
  }

  .bg-button {
    background: rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1),
      0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  }

  .bg-button-gradient {
    background: linear-gradient(90deg, #02b3ff 0%, #0274ff 100%);
  }

  .bg-button-gradient-2 {
    background: linear-gradient(90deg, #4ecaff 0%, #0274ff 100%);
  }

  .bg-button-gradient-3 {
    background: linear-gradient(270deg, #0274ff 0%, #4ecaff 100%);
  }

  .bg-button-gradient-4 {
    background: linear-gradient(
      0deg,
      rgba(9, 9, 11, 0.05) 0%,
      rgba(9, 9, 11, 0.1) 100%
    );
  }

  .bg-gradient-5 {
    background: radial-gradient(50% 50% at 50% 50%, #baeff8 0%, #95d5fa 100%);
  }

  .box-shadow-button-gradient {
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1),
      0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  }

  .box-shadow-button-gradient-2 {
    box-shadow: 0px 8.358px 12.537px 0px rgba(1, 115, 153, 0.2);
  }

  .bg-button-hover {
    background: rgba(217, 217, 217, 0.35);
  }

  .bg-button-hover-2 {
    background: linear-gradient(90deg, #0274ff 0%, #38b6ff 100%);
  }

  .bg-hero-banner {
    background: linear-gradient(
      330deg,
      rgba(11, 29, 38, 0) 31.06%,
      #0b1d26 108.93%
    );
    border-radius: 0px 0px 12.683px 12.683px;
  }

  .bg-hero-banner-2 {
    background: linear-gradient(180deg, #3ec5ff 0%, #2257f8 100%);
  }

  .bg-hero-banner-3 {
    background: linear-gradient(180deg, #fafaff 0%, #afe2ff 100%);
  }

  .text-shadow {
    text-shadow: 0px 7.785px 15.57px rgba(0, 0, 0, 0.25);
  }

  .text-shadow-2 {
    text-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
  }
}
